section#items {
    a {
        text-decoration: none;
        color: white;
    }

    ul {
        li {
            &:hover {
                background-color: #fafafa21;
                border-radius: 10px;
            }

            padding: 0.5em;
            display: flex;
            flex-direction: column;

            span.name {
                font-size: large;
            }
            span.tel {
                font-size: small;
                display: inline-flex;
                flex-direction: row;
                gap: 0.25em;
                align-items: center;
            }
        }
    }
}