#root {
  margin: 24px;
}

button {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  border-style: none;

  &:hover {
    background-color: #477bda;
  }

  &:active {
    background-color: #3264bd;
  }

  &:disabled {
    background-color: darkgrey;
  }
}

.card {
  padding: 12px 12px 12px 16px;
  margin: 8px 0;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  box-shadow: 0 4px 6px 0 rgba(193, 193, 193, 0.2), 0 3px 4px 0 rgba(204, 204, 204, 0.19);
  display: flex;
  align-items: center;
  column-gap: 4px;

  &-selected {
    background-color: #f5f9ff;
  }
}

.books-to-read {
  border: 1px solid #477bda;
  background-color: #dfe8fa;
  border-radius: 8px;
  padding: 12px;
}

.books-list {
  margin-top: 32px;
}

.book {
  &-title {
    margin: 0;
  }

  &-genre {
    padding-left: 4px;
    font-weight: bold;
    color: darkgrey;
    font-size: small;
  }

  &-button {
    margin-left: auto;
  }
}
